.form-inline.clearfix
	.nested-fields
		.row
			.col-md-12
				.form-group
					= f.input :name, label: "Nome", input_html: {class: 'form-control', size: "50"}
					%br
					= link_to_remove_association "Remover", f, class: "btn btn-default"